@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<section id="portfolio" class="portfolio" style="padding-top:10px">
    <div class="container">
        <br />  
        <br />
        <div class="section-title">
            <h2 style="color:red"> Error occured while processing request. Please try again.</h2>
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <input type="button" onclick="location.href = '@Url.Action("Index", "Home")'" class="btn btn-success" value="Go back to home"/>
                </div>
            </div>
        </div>
    </div>
</section>


